/* =================
  共通
================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes fadeUp{
  0%{
  opacity:0;
  transform:translateY(40px);
  }
  100%{
  opacity:0.9;
  transform:translateY(0);
  }
}

@keyframes fadeIn{
  0%{ opacity:0; }
  100%{ opacity:0.7; }
}

/* アニメーション共通 */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* セクション区切り */
.section-divider {
  width: 100%;
  background: #fff;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-divider-line {
  display: block;
  width: 85%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.08) 15%,
    rgba(0, 0, 0, 0.22) 50%,
    rgba(0, 0, 0, 0.08) 85%,
    transparent 100%
  );
}

/* =================
  header
================= */

.header {
  height: 75px;
  background: #131313;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s;
}

.header .container {
  max-width: 1400px;
}

.header.hide {
  transform: translateY(-100%);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo img {
  height: 75px;
}

/* ナビ */
.header-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 18px;
  color: #fff;
  position: relative;
}

.nav-en {
  font-size: 15px;
  letter-spacing: 1px;
}

.nav-ja {
  font-size: 10px;
  opacity: 0.7;
  margin-top: 2px;
}

/* ホバー線 */
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #fff;
  transform: translateX(-50%);
  transition: 0.3s;
}

.nav-item:hover::after {
  width: 60%;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.264);
}

/* お問い合わせボタン */
.contact-btn {
  margin-left: 15px;
  padding: 8px 24px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.contact-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #000;
  transition: 0.3s;
  z-index: 0;
}

.contact-btn span {
  position: relative;
  z-index: 1;
}

.contact-btn:hover {
  color: #fff;
}

.contact-btn:hover::before {
  width: 100%;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  transition: 0.3s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 10px; }
.hamburger span:nth-child(3) { top: 20px; }

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.scroll{
  position:absolute;
  bottom:115px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  font-size:14px;
  letter-spacing:2px;
  opacity:0.7;
  animation:fadeIn 2s ease forwards;
  animation-delay:1.5s;
  text-shadow:0 0 10px rgba(0,0,0,0.8);
}

.scroll-line{
  width:2px;
  height:40px;
  background:rgba(255,255,255,0.3);
  margin:10px auto 0;
  position:relative;
  overflow:hidden;
}

.scroll-line::after{
  content:"";
  position:absolute;
  top:-40px;
  left:0;
  width:100%;
  height:40px;
  background:white;
  animation:scrollMove 1.6s infinite;
}

@keyframes scrollMove{
  0%{
  transform:translateY(-20px);
  opacity:0;
  }
  50%{
  opacity:1;
  }
  100%{
  transform:translateY(50px);
  opacity:0;
  }
}

/* =========================
company page
========================= */

.page-hero{
padding:220px 0 220px;
background:
  linear-gradient(
    100deg,
    rgba(10,10,10,1) 0%,
    rgba(15,15,15,0.9) 35%,
    rgba(30,30,30,0.6) 60%,
    rgba(0,0,0,0) 100%
  ),
  url("../images/offiss.webp");
background-size:cover;
background-position:center;
text-align:center;
color:white;
}

.page-hero h1{
font-size:48px;
letter-spacing:6px;
}

.page-hero p{
font-size:18px;
margin-top:10px;
}

.section-title{
  display:block;
  font-size:80px;
  letter-spacing:2px;
  color:#888;
  margin-bottom:px;
  text-align:left;
}

.section-title span{
display:block;
font-size:14px;
color:#888;
margin-top:18px;
position:relative;
padding-top:18px;
}

.section-title span::before{
content:"";
position:absolute;
top:0;
left:0;
width:80px;
height:2px;
background:#c32d2d;
}

.message{
padding:100px 0;
}

.message-catch{
font-size:28px;
margin-bottom:70px;
text-align:center;
font-weight:500;
}

.message-block{
display:flex;
gap:50px;
margin-bottom:80px;
align-items:center;
border-bottom:1px solid #eee;
padding-bottom:60px;
}

.reverse{
flex-direction:row-reverse;
}

.message-img,
.message-text{
flex:1;
}

.message-img img{
width:100%;
height:320px;
object-fit:cover;
border-radius:8px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.message-text{
max-width:520px;
}

.message-text h4{
font-size:20px;
margin-bottom:20px;
position:relative;
padding-left:18px;
}

.message-text h4::before{
content:"";
position:absolute;
left:0;
top:4px;
width:4px;
height:20px;
background:#1c669c;
}

.message-text p{
line-height:1.8;
}


.ceo{
text-align:right;
margin-top:60px;
font-family: 'Noto Serif JP', serif;
font-size:14px;
color:#0f0e0e;
letter-spacing:2px;
}

.ceo span{
display:inline-block;
font-size:30px;
font-weight:bold;
letter-spacing:3px;
border-bottom:2px solid #1c669c;
padding-bottom:5px;
margin-left:10px;
}

.fade-up{
  opacity:0;
  transform:translateY(40px);
  transition:all 1s;
}

.fade-up.show{
  opacity:1;
  transform:translateY(0);
}

/* =====================
   HISTORY
===================== */

.history {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.timeline {
  margin-top: 80px;
  position: relative;
}

/* 縦ライン */
.timeline::before {
  content: "";
  position: absolute;
  left: 180px;
  transform: translateX(-50%);
  top: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
}

.timeline-item {
  display: grid;
  grid-template-columns: 160px 40px 1fr;
  align-items: start;
  margin-bottom: 60px;
}

/* 年号 */
.timeline-year {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #222;
}

/* ライン中央 */
.timeline-line {
  position: relative;
  display: flex;
  justify-content: center;
}

/* ドット */
.dot {
  position: absolute;
  top: 0.6em; /* ←ここが超重要 */
  left: 50%;
  transform: translate(-50%, 0);
  width: 12px;
  height: 12px;
  background: #0b1e6d;
  border-radius: 50%;
}

/* テキスト */
.timeline-content {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

/* COMPANY */

.company-section{
padding:120px 0;
background:#fff;
}

.company-title{
font-size:60px;
font-weight:700;
text-align:left;
letter-spacing:5px;
color:#888;
}

.company-sub{
text-align:left;
margin-top:10px;
margin-bottom:80px;
color:#555;
}

.company-inner{
  position:relative;
  text-align: center;
}

.company-content{
  position:relative;
  z-index:2;
}

.company-list{
max-width:800px;
margin:0 auto;
}

.company-item{
margin-bottom:17px;
padding-bottom:3px;
border-bottom:1px solid #100f0f;
text-align: center;
}

.company-heading{
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
}

.company-heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 10px auto 0;
  background: linear-gradient(90deg, transparent, #333, transparent);
}

.company-detail{
font-size:18px;
color:#333;
line-height:1.8;
font-weight:500;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.8s ease;
}

.fade-in-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* ACCESS */

.access{
padding:100px 0;
background:#f7f7f7;

}

.map iframe{
width:100%;
height:450px;
border:0;
background:#f7f7f7;
}

@media(max-width:768px){

.message-block{
flex-direction:column;
}

.reverse{
flex-direction:column;
}

.page-hero{
padding:160px 0 80px;
}

.page-hero h1{
font-size:32px;
}

.company-table th{
width:120px;
}

}

/* page-top */

.page-top{
position:fixed;
right:30px;
bottom:30px;
width:50px;
height:50px;
background:#000;
color:#fff;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
font-size:20px;
border-radius:50%;
opacity:0;
visibility:hidden;
transition:0.3s;
z-index:1000;
}

.page-top.show{
opacity:1;
visibility:visible;
}

.page-top:hover{
background:#333;
}

html{
scroll-behavior:smooth;
}

/* =================
  footer
================= */
.footer {
  background: #191919;
  border-top: 1px solid #333;
  padding: 30px 0 20px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  height: 60px;
}

.footer-left p {
  margin-top: 10px;
  font-size: 12px;
  color: #ccc;
}

.footer-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #ccc;
  font-size: 13px;
  position: relative;
  padding-right: 15px;
}

.footer-nav a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #777;
}

.footer-nav a:hover {
  color: #fff;
}